* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

.mainDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(230, 230, 230);
  padding-bottom: 10px;
}

.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1100px;
  margin: 0 auto;

}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
}

.one,
.two,
.three,
.four {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  min-width: 500px;
  min-height: 500px;
  /* border: 1px solid #000000; */
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btnOne,
.one {
  border: 1px solid rgb(138, 211, 54);
  border-left: 15px solid rgb(138, 211, 54);
}

.btnTwo,
.two {
  border: 1px solid rgb(45, 237, 255);
  border-left: 15px solid rgb(45, 237, 255);
}


.btnThree,
.three {
  border: 1px solid rgb(255, 173, 65);
  border-left: 15px solid rgb(255, 173, 65);
}

.btnFour,
.four {
  border: 1px solid rgb(255, 97, 69);
  border-left: 15px solid rgb(255, 97, 69);
}

.headerOne,
.headerTwo,
.headerThree,
.headerFour {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.headerOne {
  border-bottom: 3px solid rgb(138, 211, 54);
}

.headerTwo {
  border-bottom: 3px solid rgb(45, 237, 255);
}

.headerThree {
  border-bottom: 3px solid rgb(255, 173, 65);
}

.headerFour {
  border-bottom: 3px solid rgb(255, 97, 69);
}

.list {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.date {
  font-size: 12px;
  margin-left: auto;
  margin-right: 10px;
  background-color: #ffffff;
}

.delButton {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ff5b5b;
  padding: 2px 6px;
  min-height: 10px;
  min-width: 10px;
  color: #ff5b5b;
  font-weight: bold;
  background: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btnOne,
.btnTwo,
.btnThree,
.btnFour {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  padding: 10px 24px;
  margin: 5px 10px;
  width: 230px;
  min-height: 14px;
  min-width: 14px;
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.drawButton:hover,
.btnOne:hover {
  background: #cdffba;
  outline: 1px solid transparent;
  transition: 0.7s;
}

.delButton:hover {
  background: #ff5b5b;
  outline: 1px solid transparent;
  transition: 0.7s;
  color: #ffffff;
}

ul {
  margin-left: 20px;
}

li {
  margin-left: 10px;
}

label {
  padding: 10px;
}

#text {
  margin-left: 10px;
  padding: 3px;
  width: 400px;
}

#date {
  margin-left: 10px;
}

#checkbox {
  margin-right: 10px;
  min-height: 20px;
  min-width: 20px;
}